.button-group-vertical {
width: 25%;
float: left;
display: inline;
margin: 0 2%;
}
.button-group-vertical button {
width: 100%;
color: white;
border-color: #333;
}
.button-group-horizontal {
margin: 0.5em;
}
.button-group-horizontal button {
color: white;
border-color: #333;
}

#left-button {
font-size: 2em;
border-radius: 0.5em 0 0 0.5em;
padding: 0.1em 0.2em 0.1em 0.01em;
border-right-width: 0;
}
#right-button {
font-size: 2em;
border-radius: 0 0.5em 0.5em 0;
padding: 0.1em 0.01em 0.1em 0.2em;
border-left-width: 0;
}
#top-button {
border-radius: 0.75em 0.75em 0 0;
font-size: 2em;
padding: 0.01em 0.2em 0.5em 0.1em;
border-bottom: none;
}
#bottom-button {
border-radius: 0 0 0.75em 0.75em;
font-size: 2em;
padding: 0.5em 0.2em 0.01em 0.1em;
margin-right: 1em;
border-top: none;
}

.yellow {
background-color: #CCCC00;
font-size: 1em;
}
.yellow:active {
background-color: #999900;
}
.red {
background-color: #CC0000;
font-size: 1em;
}
.red:active {
background-color: #990000;
}
.blue {
background-color: #0000CC;
font-size: 1em;
}
.blue:active {
background-color: #000099;
}
.gray1 {
background-color: #A0A0A0;
font-size: 1em;
}
.gray1:active {
background-color: #777;
}
.gray2 {
background-color: #777;
font-size: 1em;
}
.gray2:active {
background-color: #444;
}
.button-label-vertical {
	position: relative;
	top: -6.5em;
	pointer-events: none;
}
.counter-vertical {
	font-size: 3em;
	display: inline;
	position: relative;
	top: -2.5em;
	z-index: 2;
	pointer-events: none;
}
.button-label-horizontal {
	position: relative;
	top: -4.45em;
	pointer-events: none;
} 
.counter-horizontal {
	font-size: 3em;
	position: relative;
	top: -2.65em;
	z-index: 2;
	pointer-events: none;
}

/*Containers*/
.goals {
display: inline-block;
margin: 0 auto;
}
.goals div {
float: left;
}
#auto-goals {
position: relative;
top: 30%;
}
#penalties {
position: relative;
top: 60%;
}
