body {
  display: fullscreen;
  background-color: #333333;
  font-family: "Candara", sans-serif;
  color: white;
  overflow: hidden;
}
h1 {
font-size: 2em;
margin: 0.15em 0.25em 0 0;
}
p {
font-size: 1em;
}
.wrapper-center {
text-align: center;
}
