body {
background-color: #333333;
font-family: "Candara", sans-serif;
color: white;
overflow: hidden;
}
h1 {
font-size: 2em;
margin: 0.15em 0.25em 0 0;
}
p {
font-size: 1em;
}
input.move {
width: 1em;
height: 1em;
}
textarea {
width: 96%;
font-family: "Candara", sans-serif;
position: relative;
left: 2%;
padding: 0.25em;
}
input[type='text'] {
font-size: 1em;
font-family: "Candara", sans-serif;
margin: 0.15em 0.25em 0 0;
}
.submit-button {
position: relative;
display: block;
width: 35%;
bottom: 1%;
background-color: #008CBA;
color: white;
font-size: 1em;
padding: 0.5em 1em;
border-radius: 0.75em;
}
.submit-button:active {
background-color: #005987;
}
.button-group-vertical {
width: 25%;
float: left;
display: inline;
margin: 0 2%;
}
.button-group-vertical button {
width: 100%;
color: white;
border-color: #333;
}
.button-group-horizontal {
margin: 0.5em;
}
.button-group-horizontal button {
color: white;
border-color: #333;
}

#left-button {
font-size: 2em;
border-radius: 0.75em 0 0 0.75em;
padding: 0.1em 0.2em 0.1em 0.01em;
border-right-width: 0;
}
#right-button {
font-size: 2em;
border-radius: 0 0.75em 0.75em 0;
padding: 0.1em 0.01em 0.1em 0.2em;
border-left-width: 0;
}
#top-button {
border-radius: 0.75em 0.75em 0 0;
font-size: 2em;
padding: 0.01em 0.2em 0.5em 0.1em;
border-bottom: none;
}
#bottom-button {
border-radius: 0 0 0.75em 0.75em;
font-size: 2em;
padding: 0.5em 0.2em 0.01em 0.1em;
margin-right: 1em;
border-top: none;
}

.yellow {
background-color: #CCCC00;
font-size: 1em;
}
.yellow:active {
background-color: #999900;
}
.red {
background-color: #CC0000;
font-size: 1em;
}
.red:active {
background-color: #990000;
}
.blue {
background-color: #0000CC;
font-size: 1em;
}
.blue:active {
background-color: #000099;
}
.gray1 {
background-color: #A0A0A0;
font-size: 1em;
}
.gray1:active {
background-color: #777;
}
.gray2 {
background-color: #777;
font-size: 1em;
}
.gray2:active {
background-color: #444;
}
.button-label-vertical {
	position: relative;
	top: -6.5em;
	pointer-events: none;
}
.counter-vertical {
	font-size: 1em;
	display: inline;
	position: relative;
	top: -2.5em;
	z-index: 2;
	pointer-events: none;
}
.button-label-horizontal {
	position: relative;
	top: -4.45em;
	pointer-events: none;
} 
.counter-horizontal {
	font-size: 1em;
	position: relative;
	top: -2.65em;
	z-index: 2;
	pointer-events: none;
}

.wrapper-center {
text-align: center;
}
.goals {
display: inline-block;
margin: 0 auto;
}
.goals div {
float: left;
}
#auto-goals {
position: relative;
top: 30%;
}
#penalties {
position: relative;
top: 60%;
}
#submit {
width: 100%;
position: relative;
bottom: 0;
display: flex;
justify-content: center;
}

.dotB1 {
  position: relative;
  top: 14%;
  left: 20%;
  height: 1em;
  width: 1em;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
}
.dotB2 {
  position: relative;
  top: 8.5%;
  left: 20%;
  height: 1em;
  width: 1em;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
}
.dotB3 {
  position: relative;
  top: 3%;
  left: 20%;
  height: 1em;
  width: 1em;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
}
.dotR1 {
  position: relative;
  top: 3%;
  right: 20%;
  height: 1em;
  width: 1em;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
}
.dotR2 {
  position: relative;
  top: 8.5%;
  right: 20%;
  height: 1em;
  width: 1em;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
}
.dotR3 {
  position: relative;
  top: 14%;
  right: 20%;
  height: 1em;
  width: 1em;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
}

#selected {
background-color: #ff0;
}
#endgame {
background-color: #573D76;
color: white;
width: 30%;
height: 3.5em;
border-radius: 0.75em;
font-family: "Candara", sans-serif;
font-size: 1em;
text-align-last:center;
}
#cards {
background-color: #c0c0c0;
color: white;
width: 30%;
height: 3.5em;
border-radius: 0.75em;
font-family: "Candara", sans-serif;
font-size: 1em;
text-align: center;
margin-top: 0.5em;
}
#vroom {
font-size: 1em;
height: 1.75em;
font-family: "Candara", sans-serif;
background-color: #666;
color: white;
position: relative;
right: 10%;
top: 25.5%;
border-radius: 0.5em;
text-align-last: center;
}


/*stolen!*/
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.noselect { 
	-webkit-touch-callout: none;
    -webkit-user-select: none;
	-khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
} 
