body {
  background-color: #031b59;
  font-family: "Candara", sans-serif;
}

.centered {
  position: fixed;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #eee;
}

h1 {
  font-size: 3em;
  margin: 0.1em auto;
}

input[type=text] {
  font-size: medium;
  padding: 0.75em;
  border-radius: 1.5em;
  border: none;
}

button {
  font-size: medium;
  color: white;
  background-color: #afbde0;
  padding: 0.5em;
  margin-left: 0.75em;
  border-radius: 50%;
  border: none;
}

button:active {
  background-color: #7a8fc4;
}
